.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(black, .8);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &-content{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }


    &-content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all .4s ;
    }

    &-left {
        width: 33.33333333%;
        display: table-cell;
    }

    &-right {
        width: 66.66666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 1.875rem 3.125rem;
    }

    &-img {
        display: block;
        width: 100%;
    }

    &-text {
        font-size: 0.875rem;
        padding-bottom: 1rem;

        column-count: 2;
        column-gap: 2.5rem;
        column-rule: 1px solid $color-gray-light-2;

        hyphens: auto;
    }

    &-close {

        &:link,
        &:visited {
            text-decoration: none;
            color: $color-grey-dark;
            position: absolute;
            top: 0.4rem;
            right: 1.5625rem;
            font-size: 1.875rem;
            display: inline-block;
            line-height: 1;
        }

        &:hover{
            color: $color-primary;
        }


    }

}